<hlm-card
  class="product-card cursor-pointer"
  (mouseenter)="startAutoplay()"
  (mouseleave)="stopAutoplay()"
>
  @if (images()?.length) {
    <div class="product-card__media" #mediaRef (click)="onCardClick()">
      @if (inView()) {
        <hlm-carousel>
          <div hlmCarouselContent>
            @for (image of images(); track image) {
              <div hlmCarouselItem>
                <img
                  class="product-card__image"
                  [src]="image"
                  [alt]="title()"
                  loading="lazy"
                />
              </div>
            }
          </div>

          <button hlmCarouselPrevious></button>
          <button hlmCarouselNext></button>

          <hlm-carousel-slide-display class="product-card__slide-indicator" />
        </hlm-carousel>
      } @else {
        <div
          class="product-card__image product-card__image--placeholder"
          aria-hidden="true"
        ></div>
      }
    </div>
  } @else {
    <div
      class="product-card__media product-card__media--placeholder"
      (click)="onCardClick()"
    >
      <span class="product-card__placeholder-text">Нет изображения</span>
    </div>
  }

  <div hlmCardHeader (click)="onCardClick()">
    <h3 hlmCardTitle class="product-card__title">
      {{ title() }}
    </h3>
    <p hlmCardDescription class="product-card__description">
      {{ description() }}
    </p>
  </div>

  <div
    hlmCardFooter
    class="product-card__footer"
    (click)="$event.stopPropagation()"
  >
    <div class="product-card__price">
      <span class="product-card__price-value"> {{ price() | numApo }} ₸ </span>
    </div>

    @if (countInCart === 0) {
      <button hlmBtn class="product-card__add-button" (click)="addToCart()">
        Добавить в корзину
      </button>
    } @else {
      <div class="product-card__qty">
        <button
          hlmBtn
          variant="outline"
          size="icon-sm"
          (click)="decrementCount()"
        >
          −
        </button>
        <span class="product-card__qty-value">
          {{ countInCart }}
        </span>
        <button
          hlmBtn
          variant="outline"
          size="icon-sm"
          (click)="incrementCount()"
        >
          +
        </button>
      </div>
    }
  </div>
</hlm-card>
